*.py[cod]
*.so
/.idea/
/target/
/env*/
/*.py
/TODO.md
/monty
/.claude/settings.local.json
/scratch/
/worktrees/
/flame/
/playground/
/type-sizes.txt
/sandbox/
/starlark-rust/
# this is build on package build
crates/monty-typeshed/vendor/
